.day{
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    cursor: pointer;
    &__weekday{
        font-size: 16px;
        font-weight: bold;
    }
}

.header__day{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.today{
    display: inline-block;
    width: 20px;
    height: 20px;
    color:white;
    padding: 5px;
    background-color: rgb(101, 91, 194);
    border-radius: 50%;
    text-align: center;
}

.selected__day{
    background-color: rgba(131, 138, 236, 0.3);
}

.day__event__item{
    background-color: rgba(209, 116, 116,0.7);
    text-align: center;
    padding: 0px 0;
    font-weight: 600;
}